@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600&family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600&family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Poppins:wght@200;400;500;600&family=Quicksand:wght@300&display=swap');



header {
    display: flex; /* Use flexbox to align children horizontally */
    align-items: center; /* Vertically center children within the header */
    justify-content: space-between;
    
}

nav {
    position:relative;
    right: -30%;
    width: 80%;
    font-family: 'Poppins', sans-serif;
}


nav li {
    display: inline; /* Make list items horizontal */
    margin-left: 5%; /* Add space between links */
}

#cck {
    position:relative;
    left:40px;
    font-family: 'Orbitron', sans-serif;
}